[project]
name = "manageprojects"
version = "0.0.1"
description = "Manage Python / Django projects"
readme = "README.md"
authors = [{name = 'Jens Diemer', email = 'python@jensdiemer.de'}]
license = {text = "GNU General Public License v3.0"}
#packages = [
#    { include = "manageprojects" },
#]

[project.urls]
"Homepage" = "https://github.com/jedie/manageproject"
"Bug Tracker" = "https://github.com/jedie/manageproject/issues"

[tool.setuptools]
packages = ["manageprojects"]

[project.scripts]
manageprojects = "manageprojects.cli:main"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 119

[tool.isort]
profile = "black"

[tool.flake8]
statistics = "True"
ignore = ["D203" , "W503"]
max-line-length = 119
exclude = '''
    .git,
'''

[tool.pytest.ini_options]
filterwarnings = []

[tool.coverage.run]
branch = true
source = ["apps"]
omit = ["apps/*/tests/*", "apps/*/migrations/*"]
command_line = "-m pytest"

[tool.mypy]
ignore_missing_imports = true
plugins = ["mypy_django_plugin.main"]
